<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <title>Which Meme Are You?</title>
  </head>
  <body>
    <center>
    <h1>Which Meme Are You?</h1>
    <iframe src="//giphy.com/embed/14kqI3Y4urS3rG" width="480" height="436" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
    <form method="POST" action="/results">
        
      <input type="radio" name="radio" class="styled" />
      <center>
        <table width=100%>
        <tr>
          <td align=center valign=top>
            <img src="/img/movie0.jpg"><input type="radio" name="radio0" class="styled" />
            <img src="/img/movie4.jpg"><input type="radio" name="radio1" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/movie2.jpg"><input type="radio" name="radio0" class="styled" />
            <img src="/img/movie3.jpg"><input type="radio" name="radio1" class="styled" />
            </td>
          
        </tr>
        </table></center>
        <button type="submit">Submit</button>
    </form>
    </center>
 
  </body>
</html>