<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <title>Which Meme Are You?</title>
  </head>
  <body>
    <center>
    <h1>Which Meme Are You?</h1>
      <img src="/img/comb.jpg">
      <center>
        <form method="POST" action="/results">
        <table width=100%>
        <tr>
          <h1>What's your favorite cult classic movie?</h1>
          <td align=center valign=top>
            <img src="/img/movie0.jpg" class="resize"><input type="radio" name="radio0" class="styled" />
            <img src="/img/movie4.png" class="resize"><input type="radio" name="radio1" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/movie2.jpg" class="resize"><input type="radio" name="radio2" class="styled" />
            <img src="/img/movie3.jpg" class="resize"><input type="radio" name="radio3" class="styled" />
            </td>
          
        </tr>
        </table>
      
      
      
        <table width=100%>
        <tr>
          <h1>Which is the sexiest hairstyle?</h1>
          <td align=center valign=top>
            <img src="/img/mileyhair.jpg" class="resize"><input type="radio" name="radio4" class="styled" />
            <img src="/img/donaldhair.jpg" class="resize"><input type="radio" name="radio5" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/hair1.jpeg" class="resize"><input type="radio" name="radio6" class="styled" />
            <img src="/img/hair3.gif" class="resize"><input type="radio" name="radio7" class="styled" />
            </td>
          </tr>
      
      
        <table width=100%>
        <tr>
          <h1>How smart are you?</h1>
          <td align=center valign=top>
            <img src="/img/smart4.jpg" class="resize"><input type="radio" name="radio8" class="styled" />
            <img src="/img/smart3.jpeg" class="resize"><input type="radio" name="radio9" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/smart1.jpeg" class="resize"><input type="radio" name="radio10" class="styled" />
            <img src="/img/smart2.png" class="resize"><input type="radio" name="radio11" class="styled" />
            </td>
          </tr>
          
      
        <table width=100%>
        <tr>
          <h1>Which is your favorite pop song?</h1>
          <td align=center valign=top>
            <img src="/img/song1.png" class="resize"><input type="radio" name="radio12" class="styled" />
            <img src="/img/song2.jpeg" class="resize"><input type="radio" name="radio13" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/song3.jpg" class="resize"><input type="radio" name="radio14" class="styled" />
            <img src="/img/song4.jpg" class="resize"><input type="radio" name="radio15" class="styled" />
            </td>
          
      </tr>
        <table width=100%>
        <tr>
          <h1>Where is your favorite place to be?</h1>
          <td align=center valign=top>
            <img src="/img/place1.jpg" class="resize"><input type="radio" name="radio16" class="styled" />
            <img src="/img/place2.jpg" class="resize"><input type="radio" name="radio17" class="styled" />
            </td>
          <td align=center valign=top>
            <img src="/img/place3.jpg" class="resize"><input type="radio" name="radio18" class="styled" />
            <img src="/img/place4.jpg" class="resize"><input type="radio" name="radio19" class="styled" />
            </td>
          </tr>
          </table>
        <br><button type="submit">Submit</button>
    </form>
    </center>
 
  </body>
</html>